<nav class="navbar scrolling-navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" title="Warframe Notifier">
    <img src="assets/img/wficon.png" height="30" class="d-inline-block align-top" alt="">
    Warframe Notifier
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item text-center" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']" translate>HEAD.HOME</a>
      </li>
      <li class="nav-item text-center" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/search']" translate>HEAD.DROPTABLE</a>
      </li>
      <li class="nav-item text-center my-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary btn-sm my-0 waves-effect" id="platPicker" ngbDropdownToggle
                  [translate]="'HEAD.PLATFORM.'+wfService.platform.toUpperCase()"></button>
          <div ngbDropdownMenu aria-labelledby="platPicker">
            <button *ngFor="let plat of platforms" class="dropdown-item" (click)="wfService.selectPlatform(plat)"
                    [translate]="'HEAD.PLATFORM.'+plat.toUpperCase()" [disabled]="plat === wfService.platform"></button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-secondary btn-sm my-0 waves-effect" id="langPicker" ngbDropdownToggle
                  translate>HEAD.LANG.SELECT
          </button>
          <div ngbDropdownMenu aria-labelledby="langPicker">
            <button *ngFor="let lang of translate.getLangs()" class="dropdown-item"
                    (click)="wfService.selectLanguage(lang)"
                    [translate]="'HEAD.LANG.'+lang.toUpperCase()" [disabled]="lang === wfService.language"></button>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline justify-content-center justify-content-lg-end my-2 my-lg-0">
      <input type="text" class="form-control mr-2 search" [class.is-invalid]="searchFailed"
             placeholder="{{ 'HEAD.SEARCH' | translate }}"
             [(ngModel)]="searchField" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search"
             [inputFormatter]="formatter" [resultTemplate]="rt" (selectItem)="selectItem($event)" aria-label="Search">
      <span *ngIf="searching">searching...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      <button class="btn btn-outline-success btn-sm my-0" type="submit" [translate]="'HEAD.SEARCH'"
              [routerLink]="['/search/' + searchField]"></button>
    </form>
  </div>

  <ng-template #rt let-r="result" let-t="term">
      {{ r.item }}
  </ng-template>
</nav>
