<nav class="navbar scrolling-navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" title="Warframe Notifier">
    <img src="assets/img/wficon.png" height="30" class="d-inline-block align-top" alt="">
    Warframe Notifier
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item text-center" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']" translate>HEAD.HOME</a>
      </li>
      <li class="nav-item text-center" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/search']" translate>HEAD.DROPTABLE</a>
      </li>
      <li class="nav-item text-center my-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary btn-sm my-0 waves-effect" id="platPicker" ngbDropdownToggle
                  [translate]="'HEAD.PLATFORM.'+wfService.platform.toUpperCase()"></button>
          <div ngbDropdownMenu aria-labelledby="platPicker">
            <button *ngFor="let plat of platforms" class="dropdown-item" (click)="wfService.selectPlatform(plat)"
                    [disabled]="plat === wfService.platform">
              <i *ngIf="plat === 'pc' || plat === 'xb1'" [ngClass]="{'fas fa-desktop': plat === 'pc',
              'fab fa-xbox': plat === 'xb1'
              }"></i>
              <svg *ngIf="plat==='ps4'" class="svg-inline--fa fa-playstation fa-w-18" aria-hidden="true"
                   data-fa-processed="" data-prefix="fab" data-icon="playstation" role="img"
                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="currentColor"
                      d="M570.9 372.3c-11.3 14.2-38.8 24.3-38.8 24.3L327 470.2v-54.3l150.9-53.8c17.1-6.1 19.8-14.8 5.8-19.4-13.9-4.6-39.1-3.3-56.2 2.9L327 381.1v-56.4c23.2-7.8 47.1-13.6 75.7-16.8 40.9-4.5 90.9.6 130.2 15.5 44.2 14 49.2 34.7 38 48.9zm-224.4-92.5v-139c0-16.3-3-31.3-18.3-35.6-11.7-3.8-19 7.1-19 23.4v347.9l-93.8-29.8V32c39.9 7.4 98 24.9 129.2 35.4C424.1 94.7 451 128.7 451 205.2c0 74.5-46 102.8-104.5 74.6zM43.2 410.2c-45.4-12.8-53-39.5-32.3-54.8 19.1-14.2 51.7-24.9 51.7-24.9l134.5-47.8v54.5l-96.8 34.6c-17.1 6.1-19.7 14.8-5.8 19.4 13.9 4.6 39.1 3.3 56.2-2.9l46.4-16.9v48.8c-51.6 9.3-101.4 7.3-153.9-10z"></path>
              </svg>
              {{'HEAD.PLATFORM.'+plat.toUpperCase() | translate}}
            </button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-secondary btn-sm my-0 waves-effect" id="langPicker" ngbDropdownToggle
                  translate>HEAD.LANG.SELECT
          </button>
          <div ngbDropdownMenu aria-labelledby="langPicker">
            <button *ngFor="let lang of translate.getLangs()" class="dropdown-item"
                    (click)="wfService.selectLanguage(lang)"
                    [translate]="'HEAD.LANG.'+lang.toUpperCase()" [disabled]="lang === wfService.language"></button>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline justify-content-center justify-content-lg-end my-2 my-lg-0">
      <input type="text" class="form-control mr-2 search" [class.is-invalid]="searchFailed"
             placeholder="{{ 'HEAD.SEARCH' | translate }}"
             [(ngModel)]="searchField" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search"
             [inputFormatter]="formatter" [resultTemplate]="rt" (selectItem)="selectItem($event)" aria-label="Search">
      <span *ngIf="searching">searching...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      <button class="btn btn-outline-success btn-sm my-0" type="submit" [translate]="'HEAD.SEARCH'"
              [routerLink]="['/search/' + searchField]"></button>
    </form>
  </div>

  <ng-template #rt let-r="result" let-t="term">
    {{ r.item }}
  </ng-template>
</nav>

<div class="jumbotron py-1">
  <div class="container">
    <p class="text-center" [innerHTML]="'HEAD.MESSAGE' | translate"></p>
  </div>
</div>
