.icon {
  display: inline-block;
  width: 100%;
  max-width: 1rem;
}

.icon img {
  display: block;
  width: 100%;
}

.node {
  font-weight: bold;
}

.reward {
  line-height: 1;
  color: #fff;
  text-align: right;
  vertical-align: middle;
  background-color: #777;
  position: relative;
  padding-left: 1.75rem;
}

.reward.start {
  background-color: darkorange;
  padding-left: .6em;
}

.reward.inprogress {
  background-color: green;
  padding-left: .6em;
}

.reward.expired {
  background-color: darkred;
  padding-left: .6em;
}

.reward.credits {
  padding-left: 1.5rem;
}

.reward.resource {
  background-color: darkgoldenrod;
}

.reward.helmet {
  background-color: darkcyan;
}

.reward.endo {
  background-color: darkkhaki;
}

.reward.nitain {
  background-color: cadetblue;
}

.reward.morphics {
  background-color: lightskyblue;
  padding-left: 1.85rem;
}

.reward.gallium {
  background-color: lightskyblue;
  padding-left: 1.85rem;
}

.reward.nanoSpores {
  background-color: saddlebrown;
}

.reward.tellurium {
  background-color: brown;
  padding-left: 1.5rem;
}

.reward.plastids {
  background-color: sandybrown;
}

.reward.rubedo {
  background-color: firebrick;
}

.reward.polymerBundle {
  background-color: slateblue;
}

.reward.circuits {
  background-color: peru;
}

.reward.traces {
  background-color: dodgerblue;
  padding-left: 1.5rem;
}

.reward.nightmare {
  background-color: rebeccapurple;
  padding-left: 1.5rem;
}

.reward.weapon {
  background-color: slategrey;
  padding-left: 1.5rem;
}

.reward.skin {
  background-color: slategrey;
  padding-left: 1.5rem;
}

.reward.vauban {
  background-color: slategrey;
  padding-left: 1.5rem;
}

.reward.argonCrystal {
  background-color: darkorchid;
  padding-left: 1.5rem;
}

.reward.oxium {
  background-color: goldenrod;
  padding-left: 1.5rem;
}

.reward.neuralSensors {
  background-color: peru;
  padding-left: 1.5rem;
}

.reward.alloyPlate {
  background-color: lightslategray;
}

.reward.catalyst {
  background-color: cornflowerblue;
  padding-left: 1.5rem;
}

.reward.aura {
  background-color: yellowgreen;
  padding-left: 1.5rem;
}

.reward .icon {
  position: absolute;
  max-width: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.reward.nightmare .icon,
.reward.weapon .icon,
.reward.vauban .icon,
.reward.aura .icon {
  max-width: 1rem;
  max-height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  left: 3px
}

.reward.argonCrystal .icon,
.reward.oxium .icon,
.reward.traces .icon,
.reward.skin .icon,
.reward.catalyst .icon {
  max-width: 1rem;
  left: 3px
}

.reward.credits .icon,
.reward.morphics .icon,
.reward.tellurium .icon{
  max-width: 1.2rem;
  left: 3px;
}

.reward.polymerBundle .icon,
.reward.circuits .icon{
  max-width: 1.2rem;
  left: 5px;
}

.reward.nanoSpores .icon {
  left: 3px;
}

.reward.resource .icon,
.reward.plastids .icon {
  max-width: 1.5rem;
  left: 3px;
}
