<div class="title col row">
  <div class="node col-6">{{ alert.mission.node }}</div>
  <div class="level col-6">{{ 'ALERTS.LEVEL' | translate}}
    {{ alert.mission.minEnemyLevel }} - {{ alert.mission.maxEnemyLevel }}
  </div>
  <div class="type col-6">{{ alert.mission.type }}
    <span class="icon archwing" *ngIf="alert.mission.archwingRequired" title="{{'ALERTS.ARCHWING' | translate}}"><img
      src="assets/img/wings.png"/></span>
    <span class="icon nightmare" *ngIf="alert.mission.nightmare" title="{{'ALERTS.ARCHWING' | translate}}"><img
      src="assets/img/nightmare.png"/></span>
  </div>
  <div class="faction col-6">{{ alert.mission.faction }}</div>
</div>
<div class="reward col-4 text-right">{{ alert.mission.reward.toString() }}</div>
<p class="col-12">
  <ngb-progressbar type="{{colorType}}" [value]="progressValue" [striped]="true" [animated]="true">
    <i>{{ this.timeText }}</i>
  </ngb-progressbar>
</p>
