<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="" translate>BODY.TITLE</h1>
      <p [innerHTML]="'BODY.DESCRIPTION' | translate"></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 translate>ALERTS.TITLE</h2>
        <app-alerts *ngIf="wfData" [alerts]="wfData.alerts"></app-alerts>
      </div>
      <div class="col-12 col-md-6">
        <h2 translate="">NEWS.TITLE</h2>
        <app-news *ngIf="wfData" [news]="wfData.news.reverse()"></app-news>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
