<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action
  <div class="jumbotron py-1">
    <div class="container">
      <h1 class="" translate>BODY.TITLE</h1>
      <p class="text-center" [innerHTML]="'BODY.CONTENT' | translate"></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  -->
  <div class="container">
    <!-- Example row of columns -->
    <div *ngIf="cont.events > 0" class="row">
      <div class="jumbotron py-2 col-12">
        <h2 class="h2-responsive text-center mb-0" translate>EVENTS.TITLE</h2>
        <hr class="my-1">
        <app-events [events]="wfData.events"></app-events>
      </div>
    </div>
    <div class="row">
      <div *ngIf="cont.alerts > 0" class="col-12 col-md-6">
        <div class="d-flex justify-content-flex-start align-items-center">
          <h2 class="h2-responsive" translate>ALERTS.TITLE</h2>
          <span class="badge badge-primary badge-pill ml-3">{{cont.alerts}}</span>
        </div>
        <app-alerts [alerts]="wfData.alerts"></app-alerts>
      </div>
      <div *ngIf="cont.news > 0" class="col-12 col-md-6">
        <div class="d-flex justify-content-flex-start align-items-center">
          <h2 class="h2-responsive" translate>NEWS.TITLE</h2>
          <span class="badge badge-primary badge-pill ml-3">{{cont.news}}</span>
        </div>
        <app-news [news]="wfData.news"></app-news>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
