<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" translate>SEARCH.ITEM</th>
            <th scope="col" translate>SEARCH.PLACE</th>
            <th scope="col" translate>SEARCH.RARITY</th>
            <th scope="col" translate>SEARCH.CHANCE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of getDataPaginated()">
            <th scope="row" [innerHTML]="item.item"></th>
            <td [innerHTML]="item.place"></td>
            <td>{{item.rarity}}</td>
            <td>{{item.chance}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <ngb-pagination class="mx-auto" [collectionSize]="dropdata.length/2" [(page)]="page" [maxSize]="5"
                      [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</main>
