<div class="container-fluid" *ngFor="let event of events; let isLast = last;">
  <h3 class="h3-responsive">{{event.description}}</h3>
  <ngb-progressbar [ngClass]="{
                    'pg-danger': event['health'] >= 0 && event['health'] < 15,
                    'pg-warning': event['health'] >= 15 && event['health'] < 50,
                    'pg-success': event['health'] >= 50}" type="success" [value]="event['health']" height="18px"
                   [animated]="true">
    <strong>{{'EVENTS.REMAINING' | translate: {remaining: event['health']} }}</strong>
  </ngb-progressbar>
  <div class="row">
    <div class="col-12 col-md-6" *ngFor="let job of event['jobs']">
      <div class="card" data-toggle="collapse" [attr.data-target]="'#'+job.id" aria-expanded="false">
        <div class="card-header deep-purple white-text">
          {{job.type}}
          <div class="badge badge-light float-right mt-1">{{'EVENTS.LEVEL' | translate: {minlevel: job['enemyLevels'][0], maxlevel:
            job['enemyLevels'][1] } }}
          </div>
        </div>
        <div id={{job.id}} class="card-body row collapse">
          <div class="col-6 mb-1" *ngFor="let reward of job['rewardPool']">
            {{reward}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr *ngIf="!isLast" class="my-1">
</div>
